@font-face {
    font-family: 'KirbyClassic';
    src: url('../fonts/kirby-classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
    font-family: 'KirbyClassic', sans-serif;
}

input {
    font-family: 'Comic Sans', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 17px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

textarea {
    font-family: 'Comic Sans', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 17px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: 150px;
}

button {
    background-color: #8b5cf6;
    color: black;
    font-family: 'KirbyClassic';
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0 4px purple;
    cursor: pointer;
    transition: all 0.1s ease;
}

ul {
    list-style-type: none;
    padding-left: 0;
}