.header-container {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.home-container {
    text-align: center;
    width: 100%;
}

.home-body-container {
    display: inline-block;
}

.home-button {
    background-color: #8b5cf6;
    box-shadow: 0 4px purple;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2rem;
}

.section-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: aquamarine;
    box-shadow: 0 4px teal;
    border-radius: 17px;
    border: none;
    margin: 2rem;
    width: 100%;
    min-width: 400px;
    max-width: 35rem;
    height: 25rem;
}

.home-container p {
    max-width: 600px;
    font-size: 1.2rem;
}

