.header-container {
    display: flex;
    justify-content: center;
    margin: 7rem auto;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-button {
    background-color: #8b5cf6;
    box-shadow: 0 4px purple;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    box-shadow: 0 4px teal;
    border-radius: 17px;
    border: none;
    margin: 0 auto;
    width: 700px;
    height: 350px;
}

.home-container p {
    /* margin: 0 auto; */
    /* margin-bottom: 2rem; */
    max-width: 700px;
    font-size: 1.2rem;
}