/* .header-container {
    margin: 2rem auto;
} */

.home-button {
    background-color: #8b5cf6;
    box-shadow: 0 4px #5b21b6;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
}