.navbar-container {
    display: flex;
    justify-content: space-between; /* Pushes logo left, links right */
    align-items: center;
    padding: 1rem;
    background-color: #8b5cf6;
    /* border-bottom: 3px solid #8f2dff; */
    border-radius: 12px;
    box-shadow: 0 4px #5b21b6;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
  gap: 1.25rem; /* spacing between links */
  /* font-family: 'Macondo'; */
  font-size: 1.5rem;
}