.navbar-container {
    display: inline-block;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 12px;
    box-shadow: 0 4px teal;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 20;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    color: Black;
    overflow: visible;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.searchbar {
    width: 100%;
    min-width: 200px;
}

label[for='search'] {
    display: inline-flex;
    float: left;
    /* align-items: center; */
    gap: 3px;
    font-size: 2rem;
}

.dropdown {
    position: absolute;
    top: 90%; /* pushes it below the input */
    left: 0;
    right: 70%;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown:hover {
    cursor: pointer;

}

.dropdown li:hover {
    background-color: #8b5cf6;
}

.nav-links {
    float: right;
}

.nav-links a {
    display: inline-block;
    margin: 0.25rem;
    text-decoration: none;
    background-color: #8b5cf6;
    color: black;
    font-family: 'KirbyClassic';
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0 4px purple;
    cursor: pointer;
    transition: all 0.1s ease;
}

.nav-links a:hover {
    cursor: pointer;
    color: rgb(251, 160, 175);
    transform: scale(1.1);
}

select,
option {
    background-color: #a6ffea;
    color: black;
    font-family: 'KirbyClassic';
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0 4px #14a583;
    cursor: pointer;
    flex: 1;
    width: 100%;
}
